<app-no-privilege *ngIf="!privilege.update" message="No privilege to change enrollment details"></app-no-privilege>
<div *ngIf="this.enrollment && privilege.update">
  <app-page-header
    title="Enrollment Change Form of {{ enrollment.code }}"
    [breadcrumbSegments]="['Enrollments', 'Show All Enrollments', 'Change Details of ' + enrollment.code]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Discount Amount</mat-label>
            <input type="number" matInput formControlName="discountamount" >
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="discountamountField.invalid">
              <span *ngIf="discountamountField.errors.server">{{discountamountField.errors.server.join(', ')}}</span>
              <span *ngIf="discountamountField.errors.min">Discount Amount should be equal or greater than 0</span>
              <span *ngIf="discountamountField.errors.max">Discount Amount should be equal or less than 99999999</span>
              <span *ngIf="discountamountField.errors.pattern">Discount Amount is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total Fee</mat-label>
            <input type="number" matInput formControlName="fee" required>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="feeField.invalid">
              <span *ngIf="feeField.errors.required">Total Fee is required</span>
              <span *ngIf="feeField.errors.server">{{feeField.errors.server.join(', ')}}</span>
              <span *ngIf="feeField.errors.min">Total Fee should be equal or greater than 0</span>
              <span *ngIf="feeField.errors.max">Total Fee should be equal or less than 99999999</span>
              <span *ngIf="feeField.errors.pattern">Total Fee is invalid.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Student</mat-label>
            <mat-select formControlName="student" required>
              <mat-option *ngFor="let student of students" [value]="student.id">{{student.code + '-' + student.nametitle.name + ' ' + student.callingname}}</mat-option>
            </mat-select>
            <mat-error *ngIf="studentField.invalid">
              <span *ngIf="studentField.errors.required">Student is required</span>
              <span *ngIf="studentField.errors.server">{{studentField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Pay Scheme</mat-label>
            <mat-select formControlName="payscheme" required>
              <mat-option *ngFor="let payscheme of payschemes" [value]="payscheme.id">{{payscheme.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="payschemeField.invalid">
              <span *ngIf="payschemeField.errors.required">Pay Scheme is required</span>
              <span *ngIf="payschemeField.errors.server">{{payschemeField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Grade Year</mat-label>
            <mat-select formControlName="gradeyear" required>
              <mat-option *ngFor="let gradeyear of gradeyears" [value]="gradeyear.id">{{gradeyear.code + '-' + gradeyear.year}}</mat-option>
            </mat-select>
            <mat-error *ngIf="gradeyearField.invalid">
              <span *ngIf="gradeyearField.errors.required">Grade Year is required</span>
              <span *ngIf="gradeyearField.errors.server">{{gradeyearField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enrollment Status</mat-label>
            <mat-select formControlName="enrollmentstatus" required>
              <mat-option *ngFor="let enrollmentstatus of enrollmentstatuses" [value]="enrollmentstatus.id">{{enrollmentstatus.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="enrollmentstatusField.invalid">
              <span *ngIf="enrollmentstatusField.errors.required">Enrollment Status is required</span>
              <span *ngIf="enrollmentstatusField.errors.server">{{enrollmentstatusField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enrollment Discount</mat-label>
            <app-dual-listbox   placeholder="Add Enrollment Discount To Here" [sourceData]="discounts" formControlName="enrollmentdiscounts"></app-dual-listbox>
            <mat-error *ngIf="enrollmentdiscountsField.invalid">
              <span *ngIf="enrollmentdiscountsField.errors.server">{{enrollmentdiscountsField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/enrollments" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Enrollments</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
