<div class="sub-form">
  <div class="row">
    <div class="col-md-7">
      <div class="sub-form-table-container" style="height: 240px;">
        <div *ngIf="dataList.length === 0" class="sub-form-table-placeholder" style="padding-top: 90px">No class subjects to show</div>
        <div *ngIf="dataList.length > 0" >

          <table class="w-100 mat-table">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Subject Teacher</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataItem of dataList; let i = index">
              <td>{{dataItem.subject.code + '-' + dataItem.subject.name}}</td>
              <td>{{dataItem.teacher.code + '-' + dataItem.teacher.nametitle.name + ' ' + dataItem.teacher.callingname}}</td>
              <td class="btn-col">
                <button [disabled]="disabled" type="button" (click)="removeData(i, dataItem)" class="mat-btn-sm" mat-flat-button color="warn">
                  <mat-icon>delete</mat-icon> Delete
                </button>
              </td>
              <td class="btn-col">
                <button [disabled]="disabled" type="button" (click)="updateData(i, dataItem)" class="mat-btn-sm" mat-flat-button color="accent">
                  <mat-icon>edit</mat-icon> Change
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <form [formGroup]="form" (ngSubmit)="addData()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Subject</mat-label>
          <mat-select (click)="setValidations()" formControlName="subject" [required]="hasValidations">
            <mat-option *ngFor="let subject of subjects" [value]="subject.id">{{subject.code + '-' + subject.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="subjectField.invalid">
            <span *ngIf="subjectField.errors.required">Subject is required</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Subject Teacher</mat-label>
          <mat-select (click)="setValidations()" formControlName="teacher" [required]="hasValidations">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.code + '-' + teacher.nametitle.name + ' ' + teacher.callingname}}</mat-option>
          </mat-select>
          <mat-error *ngIf="teacherField.invalid">
            <span *ngIf="teacherField.errors.required">Subject Teacher is required</span>
          </mat-error>
        </mat-form-field>
        <div class="text-right mt-5 d-flex">
          <span class="spacer"></span>
          <button [disabled]="disabled" (click)="resetForm()" class="mat-btn-sm" mat-stroked-button type="button"><mat-icon>refresh</mat-icon> Clear </button>
          <button [disabled]="disabled" (click)="setValidations()" class="mr-0 mat-btn-sm" mat-flat-button color="accent" type="submit"><mat-icon>save</mat-icon> ADD </button>
        </div>
      </form>
    </div>
  </div>
</div>
