<div class="sub-form">
  <div class="row">
    <div class="col-md-7">
      <div class="sub-form-table-container" style="height: 240px;">
        <div *ngIf="dataList.length === 0" class="sub-form-table-placeholder" style="padding-top: 90px">No yar term paymentses to show</div>
        <div *ngIf="dataList.length > 0" >

          <table class="w-100 mat-table">
            <thead>
              <tr>
                <th>Pay Scheme</th>
                <th>Date</th>
                <th>Fee</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataItem of dataList; let i = index">
              <td>{{dataItem.payscheme ? dataItem.payscheme.name: ''}}</td>
              <td>{{dataItem.date | date :'longDate'}}</td>
              <td>{{dataItem.fee | currency :'Rs.'}}</td>
              <td class="btn-col">
                <button [disabled]="disabled" type="button" (click)="removeData(i, dataItem)" class="mat-btn-sm" mat-flat-button color="warn">
                  <mat-icon>delete</mat-icon> Delete
                </button>
              </td>
              <td class="btn-col">
                <button [disabled]="disabled" type="button" (click)="updateData(i, dataItem)" class="mat-btn-sm" mat-flat-button color="accent">
                  <mat-icon>edit</mat-icon> Change
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <form [formGroup]="form" (ngSubmit)="addData()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Pay Scheme</mat-label>
          <mat-select (click)="setValidations()" formControlName="payscheme" >
            <mat-option *ngFor="let payscheme of payschemes" [value]="payscheme.id">{{payscheme.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="payschemeField.invalid">
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date</mat-label>
          <input (focus)="setValidations()" matInput [matDatepicker]="pickerdate" formControlName="date" [required]="hasValidations">
          <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
          <mat-datepicker #pickerdate></mat-datepicker>
          <mat-hint>Ex: </mat-hint>
          <mat-error *ngIf="dateField.invalid">
            <span *ngIf="dateField.errors.required">Date is required</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fee</mat-label>
          <input (focus)="setValidations()" type="number" matInput formControlName="fee" >
          <mat-hint>Ex: </mat-hint>
          <mat-error *ngIf="feeField.invalid">
            <span *ngIf="feeField.errors.min">Fee should be equal or greater than 0. </span>
            <span *ngIf="feeField.errors.max">Fee should be equal or less than 999999999. </span>
            <span *ngIf="feeField.errors.pattern">Fee is invalid.</span>
          </mat-error>
        </mat-form-field>
        <div class="text-right mt-5 d-flex">
          <span class="spacer"></span>
          <button [disabled]="disabled" (click)="resetForm()" class="mat-btn-sm" mat-stroked-button type="button"><mat-icon>refresh</mat-icon> Clear </button>
          <button [disabled]="disabled" (click)="setValidations()" class="mr-0 mat-btn-sm" mat-flat-button color="accent" type="submit"><mat-icon>save</mat-icon> ADD </button>
        </div>
      </form>
    </div>
  </div>
</div>
