<app-no-privilege message="No privilege to add new student attendance" *ngIf="!privilege.add"></app-no-privilege>
<div *ngIf="privilege.add">
  <app-page-header title="Student Attendance Form" [breadcrumbSegments]="['Student Attendances', 'Add New Student Attendance']"></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Student</mat-label>
            <mat-select formControlName="student" required>
              <mat-option *ngFor="let student of students" [value]="student.id">{{student.code + '-' + student.nametitle.name + ' ' + student.callingname}}</mat-option>
            </mat-select>
            <mat-error *ngIf="studentField.invalid">
              <span *ngIf="studentField.errors.required">Student is required</span>
              <span *ngIf="studentField.errors.server">{{studentField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Class</mat-label>
            <mat-select formControlName="cls" required>
              <mat-option *ngFor="let cls of clses" [value]="cls.id">{{cls.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="clsField.invalid">
              <span *ngIf="clsField.errors.required">Class is required</span>
              <span *ngIf="clsField.errors.server">{{clsField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Schedule Date</mat-label>
            <mat-select formControlName="sheduledate" required>
              <mat-option *ngFor="let sheduledate of sheduledates" [value]="sheduledate.id">{{sheduledate.code + '-' + sheduledate.date}}</mat-option>
            </mat-select>
            <mat-error *ngIf="sheduledateField.invalid">
              <span *ngIf="sheduledateField.errors.required">Schedule Date is required</span>
              <span *ngIf="sheduledateField.errors.server">{{sheduledateField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="none">
            <mat-label>Attended</mat-label>
            <mat-slide-toggle formControlName="attend"> Yes</mat-slide-toggle>
            <input matInput hidden value=" "/>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/studentattendances" class="ml-0" mat-flat-button color="primary"><mat-icon>list</mat-icon> All Student Attendances</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="reset"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
      <mat-card-actions align="right">
        <span class="text-warning">*</span> Required Fields
      </mat-card-actions>
    </mat-card>
  </form>
</div>
