<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a time table"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !timetable" message="Time Table Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="timetable && privilege.showOne">
  <app-page-header
    title="Time Table Detail Page of {{ timetable.code }}"
    [breadcrumbSegments]="['Time Tables', 'Show All Time Tables', 'Details of ' + timetable.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{timetable.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{timetable.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(timetable.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{timetable.code}}</td>
              </tr>
              <tr>
                <th>Grade</th>
                <td>{{timetable.grade.name}}</td>
              </tr>
              <tr>
                <th>Grade Year</th>
                <td>{{timetable.gradeyear.code + '-' + timetable.gradeyear.year}}</td>
              </tr>
              <tr>
                <th>Subject</th>
                <td>{{timetable.subject.code + '-' + timetable.subject.name}}</td>
              </tr>
              <tr>
                <th>Subject Teacher</th>
                <td>{{timetable.teacher.code + '-' + timetable.teacher.nametitle.name + ' ' + timetable.teacher.callingname}}</td>
              </tr>
              <tr>
                <th>Day</th>
                <td>{{timetable.day.name}}</td>
              </tr>
              <tr>
                <th>Class</th>
                <td>{{timetable.cls.name}}</td>
              </tr>
              <tr>
                <th>Timetable Status</th>
                <td>{{timetable.timetablestatus.name}}</td>
              </tr>
              <tr *ngIf="timetable.description">
                <th>Description</th>
                <td [innerHTML]="timetable.description | nl2br"></td>
              </tr>
              <tr>
                <th>Start Time</th>
                <td>{{'1970-01-01 ' + timetable.tostart | date: 'shortTime'}}</td>
              </tr>
              <tr>
                <th>End Time</th>
                <td>{{'1970-01-01 ' + timetable.toend | date: 'shortTime'}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/timetables/edit/{{timetable.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/timetables/add" mat-stroked-button><mat-icon>add</mat-icon> New Timetable</button>
    <button *ngIf="privilege.showAll" routerLink="/timetables" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Time Tables</button>
  </div>
</div>
