header{
  nav:not(.rank-math-breadcrumb) ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    transition: padding 0.5s cubic-bezier(.53,.96,.44,.9);
  }
  ol, ul {
    overflow-wrap: break-word;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans",sans-serif;
  }
  user agent stylesheet
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}

footer {
  text-align: center;
  position: relative;
  color: #081428;
}
